@import '../vars.scss';

body.index {

    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

    overflow: hidden;

    #root {
        height: 100%;
    }

    main {
        width: 100%;
        height: 100%;
    }

    @font-face {
        font-family: 'Poppins';
        src: url('../../font/Poppins/Poppins3.woff2') format('woff2');
    }

    @font-face {
        font-family: 'Adobe';
        src: url('../../font/AdobeFont/Adobe.ttf') format('truetype');
    }

    @font-face {
        font-family: 'AdobeBold';
        src: url('../../font/AdobeFont/AdobeBold.ttf') format('truetype');
    }

    * {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }

    .background-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        background-color: $index-background-color;
        transition: background-color $general-transition-switch-mode;
    }

    .header-media-menu {

        .hamburger-container {
            right: 15px !important;
        }

        &:not(.active) {
            &~.hamburger-container {
                .hamburger-bar {
                    background-color: white;
                }
            }
        }
    }

    /* Triangles équilateraux */

    .circle, .triangle {
        pointer-events: none;
    }

    .triangle {
        position: absolute;
        width: 0;
        height: 0;
        transition: border-bottom $general-transition-switch-mode;
    }

    .triangle-red {
        left: 5vw;
        top: 5vw;
        border-left: 10vw solid transparent;
        border-right: 10vw solid transparent;
        border-bottom: 16vw solid;
        border-bottom-color: $index-triangle-red-background-color;
        animation: triangle-red-move 40s linear infinite;
        z-index: -1;
    }

    .triangle-yellow {
        right: 5vw;
        top: 5vw;
        border-left: 16vw solid transparent;
        border-right: 16vw solid transparent;
        border-bottom: 23vw solid;
        border-bottom-color: $index-triangle-yellow-background-color;
        animation: triangle-yellow-move 50s linear infinite;
        z-index: -2;
    }

    .triangle-orange {
        border-left: 20vw solid transparent;
        border-right: 20vw solid transparent;
        border-bottom: 27vw solid;
        border-bottom-color: $index-triangle-orange-background-color;
        bottom: 10vw;
        left: 15vw;
        animation: triangle-orange-move 70s linear infinite;
        z-index: -3;
    }

    .circle {
        position: absolute;
        border-radius: 50%;
        z-index: -4;
        transition: background-color $general-transition-switch-mode;
    }

    .circle-one {
        width: 100vw;
        height: 100vw;
        top: 35%;
        right: -70%;
        background-color: $index-circle-one-background-color;
    }

    .circle-two {
        width: 80vw;
        height: 80vw;
        top: -60%;
        left: -40%;
        background-color: $index-circle-two-background-color;
    }

    /* Animations */

    @keyframes triangle-red-move {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(200deg) translateX(30vw) translateY(-8vw);
        }

        70% {
            transform: rotate(160deg) translateX(15vw) translateY(-10vw);
        }

        100% {
            transform: rotate(0deg);
        }
    }

    @keyframes triangle-yellow-move {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(-220deg) translateX(-10vw) translateY(25vw);
        }

        80% {
            transform: rotate(-1deg) translateX(-7vw) translateY(12.5vw);
        }

        100% {
            tranform: rotate(0deg);
        }
    }

    @keyframes triangle-orange-move {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(-170deg) translateX(30vw) translateY(25vw);
        }

        70% {
            transform: rotate(-160deg) translateX(15vw) translateY(12.5vw);
        }

        100% {
            transform: rotate(0deg);
        }
    }

    /* CSS DU MENU */

    .get-start {
        
        width: 140px;
        height: 55px;
        border-radius: 28px;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        font-weight: 500;
        color: #ffffff;
        text-decoration: none;
        transition: all 0.3s ease;
        border: 2px solid #ffffff;
        box-shadow: 0 0 0 0 #ffffff;
        letter-spacing: 0.5px;
        
        &.one {
            position: absolute;
            z-index: 1;
            right: 90px;
            top: 10px;
            display: flex;
        }

        &.two {
            display: none;
        }

        &:hover {      
            transition: all 0.3s ease;
            background-color: #edba9358;
        }
    }

    .left-top-angular {

        position: absolute;
        top: 10px;
        left: 10px;
        height: fit-content;
        width: fit-content;
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        align-items: center;
        justify-content: center;
        margin-left: 10px;

        .logo.index-logo {
            width: 70px;
            height: 70px;
        }
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: fit-content;
        z-index: 0;
    }

    .container {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        & > .title {

            & > .main-bar {
                width: 70%;
                height: 12px;
                border-radius: 10px;
                background-color: blanchedalmond;
                box-shadow: 0 0 2.15rem #000000e9;
                z-index: 0;
            }

            & > .subtitle {
                & > h2 {

                    &.two {
                        display: none;
                    }

                    height: 1.5em;
                    margin-top: 2vw;
                    font-size: 6vw;
                    font-weight: 600;
                    color: #fff;
                    font-family: 'Adobe';
                    text-shadow: 0 0 2.15rem #00000093;
                }
            }
            & > h1 {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12vw;
                height: 10vw;
                margin-bottom: 2vw;
                font-weight: 600;
                color: $main-title-color;
                text-shadow: 0 0 2.15rem #00000093;
                font-family: 'AdobeBold';
                transition: color $general-transition-switch-mode;
            }
        }
    }

    .border-triangle {
        filter: blur(6px);
    }

    .footer-triangle {
        position: absolute;
        bottom: -1vw;
        left: 0;
        width: 0;
        height: 0;
        border-left: 100vw solid transparent;
        border-right: 0vw solid transparent;
        border-bottom: 21vw solid $index-triangle-footer-background-color;
        z-index: 0;
    }

    .header-triangle {
        position: absolute;
        top: -1vw;
        left: 0;
        width: 0;
        height: 0;
        border-left: 100vw solid transparent;
        border-right: 0vw solid transparent;
        border-top: 12vw solid $index-triangle-header-background-color;
        filter: blur(6px) drop-shadow(0 0 0.5rem #000000e9);
        z-index: 1;
    }

    .header-media-menu {
        opacity: 0 !important;

        &.active {
            opacity: 1 !important;
        }
    }

    @keyframes bar-move {
        0% {
            width: 73%;
        }

        50% {
            width: 70%;
        }

        100% {
            width: 73%;
        }
    }

    .subtitle {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: row;
        column-gap: 1vw;

        & > * {
            white-space: nowrap;
        }
    }

    .vertical-bar {
        width: 0.5vw;
        height: 6vw;
        background-color: #000000;
        border-radius: 10px;
        animation: vertical-bar-apparition 1.5s ease-in-out infinite;
        transition: all 0.3s ease;
        z-index: 1;
    }

    .title {
        display: flex;
        flex-direction: column;
        row-gap: 0;
    }

    @keyframes vertical-bar-apparition {
        0% {
            opacity: 1;
        }

        40% {
            opacity: 0;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .download-img {
        width: 1.9vw;
        height: 1.9vw;
        transition: background-image 0.18s ease;
        background-size: cover;
        background-position: center;
    }

    .dl-img {
        background-image: url(../../img/index/download.png);
    }

    .footer-links {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 8vw;
        margin-bottom: 20px;
        position: relative;
        z-index: 0;

        a {
            color: #fff;
            text-decoration: none;
            transition: all 0.4s ease;
            text-shadow: 0 0 1.15rem #000;
            width: 5vw;
            height: 5vw;
            border-radius: 50%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @include hover-safe {
                &:hover {
                    transition: all 0.2s ease;
                }
            }
        }

        li {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


    .linkedin-link {
        background-image: url(../../img/index/icon-linkedin.png);
      
        @include hover-safe {
            &:hover {
                background-image: url(../../img/index/icon-linkedin-hover.png);
            }
        }
    }


    .github-link {
        
        background-image: url(../../img/index/icon-github.png);
        
        @include hover-safe {
            &:hover {
                background-image: url(../../img/index/icon-github-hover.png);
            }
        }

    }

    // .gitlab-link {
    //     background-image: url(../../img/index/icon-gitlab.png);
    // }

    // .gitlab-link:hover {
    //     background-image: url(../../img/index/icon-gitlab-hover.png);
    // }

    .mail-link {
        background-image: url(../../img/index/icon-mail.png);
        
        @include hover-safe {
            &:hover {
                background-image: url(../../img/index/icon-mail-hover.png);
            }
        }
    }

    .tel-link {
        background-image: url(../../img/index/icon-tel.png);

        @include hover-safe {
            &:hover {
                background-image: url(../../img/index/icon-tel-hover.png);
            }
        }
    }

}