@import '../vars.scss';

body.index#dark{
    color: #ffffff;

    .background-container {
        background-color: $index-background-color-dark;
    }

    .header-triangle {
        border-top-color: $index-triangle-header-background-color-dark;
    }

    .footer-triangle {
        border-bottom-color: $index-triangle-footer-background-color-dark;
    }

    .get-start:hover {
        background-color: rgba(48, 5, 43, 0.3);
        color: rgb(255, 255, 255);
    }

    .circle-one {
        background-color: $index-circle-one-background-color-dark;
    }

    .circle-two {
        background-color: $index-circle-two-background-color-dark;
    }

    .triangle-orange {
        border-bottom-color: $index-triangle-orange-background-color-dark;
    }

    .triangle-red {
        border-bottom-color: $index-triangle-red-background-color-dark;
    }

    .triangle-yellow {
        border-bottom-color: $index-triangle-yellow-background-color-dark;
    }

    .dl-img-hover {
        background-image: url(../../img/index/download-pink.png);
    }

    .container  {
        & > .title {
            & > h1 {
                color: $main-title-color-dark;
            }

            & > .main-bar {
                background-color: #ffffff;
            }
        }
    }

    .vertical-bar {
        background-color: #ffffff;
    }

    .footer-links {
    
        .github-link {

            background-image: url(../../img/index/icon-github-white.png);

            &:hover {
                background-image: url(../../img/index/icon-github-white-hover.png);
            }

        }

    }

}