@import '../vars.scss';

body:not(.index)#dark {
    .menu {
        background-color: $components-background-color-dark;
        box-shadow: $components-box-shadow-dark;
    }

    .menu li:hover{
        border-bottom: 3px solid rgb(255, 255, 255) !important;
        transform: translateY(2.5px);
    }

    .menu .sites > p {
        color: white;
    }

    .logo {
        background-image: url(../../img/header/dark-theme/dark_portfolio_logo.png);
    }

    .mode-button {
        background-image: url(../../img/header/light-mode.png);
        width: 40px;
        height: 40px;
    }

    .mode-button:hover {
        background-image: url(../../img/header/light-mode-hover.png);
    }
}