/* Placer les projets dans la page, créer automatiquement l'ecart entre les cases et entre les colomnes*/
.projects-chevrons-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto 70% auto;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  .projects {
    display: flex;
    overflow-x: scroll;
    width: 85%;
    align-items: center;
    row-gap: 30px;
    padding: 50px 30px;
    column-gap: 30px;
    box-sizing: border-box;
    align-self: center;
    justify-self: center;
    scroll-behavior: smooth;

    &:first-child {
      margin-left: 30px;
    }

    &:last-child {
      margin-right: 30px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
  .chevron {
    width: 100px;
    color: rgb(86 86 86 / 88%);
    transition: all 0.3s ease;
    background: #dcb2b200;
    border-radius: 50%;

    &.alert {
      animation: scaleInOut 0.3s ease;
    }

    &:hover {
      cursor: pointer;
      color: rgb(40, 40, 40);
      scale: 1.1;
    }

    &.scale {
      scale: 1;
    }
  }
}

/* Animation des chevrons */
@keyframes scaleInOut {
  0% {
    scale: 1.1;
  }
  50% {
    scale: 1.3;
    color: rgb(232, 175, 175);
    background: #dcb2b25c;
  }
  100% {
    scale: 1.1;
  }
}

/* Design d'une case */
.content {
  background-color: rgba(255, 255, 255, 0.801);
  width: 250px;
  height: 250px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s, transform 0.5s,
    background-color var(--general-transition-switch-mode);
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

/* Style d'une case de base et lors de son chargement */
.main-container {
  position: relative;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-seemore-project {
  transition: 0.5s;
  transform: scale(1.05) rotate(1deg);
}

/* Insertion de l'image lien ou téléchargement a coté du titre du projet */
.to_link,
.to_download {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}

.to_link img,
.to_download img {
  width: 30px;
}

/* Modification texte de description */
.content p {
  text-align: center;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: 1px;
  color: #000;
  font-weight: bolder;
}

/* Mise en place du hover */
.content:hover {
  transform: scale(1.05);
  transition: 0.5s;
  box-shadow: 0 0 0 rgba(212, 153, 101, 0.884);
}

/* Redimensionner les logos*/
.workslogos {
  width: 180px;
  transition: all 0.2s;
  align-self: center;
}

/* Ne pas souligner le texte */
.projects a {
  text-decoration: none;
}

/* Barre verticale blanche */
.horizontal-bars {
  width: 30%;
  height: 12px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease,
    background-color var(--general-transition-switch-mode);
}

#horizontal-bar2 {
  margin-bottom: 50px;
}

/* Centrer le texte d'explication et changer sa couleur en blanc*/
.explicationtext {
  font-size: xx-large;
  text-align: center;
  color: rgb(0, 0, 0);
  text-shadow: 1px 0 0 #fff, 1px 1px 0 #fff, 0 1px 0 #fff, -1px 1px 0 #fff,
    -1px 0 0 #fff, -1px -1px 0 #fff, 0 -1px 0 #fff, 1px -1px 0 #fff;
  font-size: xx-large;
  margin: 0 15px;
}

/* Mettre un display flex sur le deuxieme article, tout centrer et mettre un espace entre les elements*/
#cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Mise en place du conteneur en grid avec les deux articles */
#container-cv {
  background-color: rgba(255, 255, 255, 0.801);
  transition: background-color var(--general-transition-switch-mode);
  width: 1100px;
  height: 700px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  column-gap: 2%;
}

/* Partie gauche de l'article CV */
#cv-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  padding-left: 15px;
}

/* Partie droite de l'article CV */
#cv-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  padding-right: 40px;
}

#cv-text p {
  text-align: center;
  line-height: 1.1;
  letter-spacing: 1px;
  color: #000;
  font-weight: bolder;
}

/* Changer la taille de l'image et son curseur*/
#cv-img img {
  width: 420px;
  border-radius: 30px;
  transition: 0.3s;
  cursor: pointer;
}

/* Hover du CV */
#cv-img img:hover {
  transform: scale(1.05);
  transition: 0.3s;
  border: 2px solid rgba(0, 0, 0, 0.209);
  filter: grayscale(50%);
}

/* Changer le style des boutons */
.cv-button {
  background-color: rgba(255, 255, 255, 0.801);
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.884);
  box-shadow: 0 0 40px rgb(0 0 0 / 20%);
  cursor: pointer;
  transition: 0.1s;
}

/* Hover des boutons */
.cv-button:hover {
  background-color: rgb(239, 195, 153);
  color: #fff;
  transition: 0.1s;
}

/* Barre noire au dessus et au dessous des textes */
html {
  --black-bar-width: 85%;
}

.blackbar {
  width: var(--black-bar-width);
  height: 1px;
  background-color: #000;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  transition: all 0.2s ease;
}

/* Afficher l'image zoom et le texte côte à côté */
#zoom {
  display: grid;
  grid-template-columns: 6fr 1fr;
  column-gap: 5%;
  align-items: baseline;
  align-items: center;
}

/* Regler la taille de l'icone zoom */
#zoom img {
  width: 40px;
}

/* Justifier le texte explicatif du zoom et règler sa taille */
#zoom p {
  font-size: 19px;
  text-align: justify;
}

.beforebutton {
  font-size: 21px;
}

/* Changer le design du bouton voir plus */
#More {
  align-items: center;
  background-color: rgba(151, 151, 151, 0.801);
  color: rgba(0, 0, 0, 0.884);
}

/* Changer la taille de l'image de "Voir plus" */
#More img {
  width: 120px;
}

/* Modifier le texte du bouton "Voir plus" */
#More p {
  margin-top: 0px;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: 1px;
  color: #000;
  font-weight: bolder;
}

.hidden {
  display: none;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Afficher la date par dessus les projets */
html {
  --projects-data-date-border-width: 9px;
  --projects-data-date-transition: 0.3s;
  --projects-data-date-after-dist-top: -20%;
  --projects-data-date-height: 40px;
  --projects-data-date-background-color: rgba(0, 0, 0, 0.884);
}

.projects > *::before {
  content: "";
  border-left: var(--projects-data-date-border-width) solid transparent;
  border-right: var(--projects-data-date-border-width) solid transparent;
  border-top: var(--projects-data-date-border-width) solid
    var(--projects-data-date-background-color);
  position: absolute;
  z-index: 1;
  top: calc(
    var(--projects-data-date-after-dist-top) + var(--projects-data-date-height)
  );
  opacity: 0;
  transition: var(--projects-data-date-transition);
  pointer-events: none;
}

.projects > *::after {
  opacity: 0;
  content: attr(data-date);
  position: absolute;
  z-index: 1;
  top: var(--projects-data-date-after-dist-top);
  font-size: 20px;
  background-color: var(--projects-data-date-background-color);
  padding-right: 25px;
  padding-left: 45px;
  background-image: url(../../img/home/icon/calendar.png);
  background-repeat: no-repeat;
  background-position: center left 15px;
  background-size: 20px;
  color: white;
  width: fit-content;
  height: var(--projects-data-date-height);
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--projects-data-date-transition);
  pointer-events: none;
}

.projects > *:hover::before {
  opacity: 1;
  transition: var(--projects-data-date-transition);
}

.projects > *:hover::after {
  opacity: 1;
  transition: var(--projects-data-date-transition);
}

#realisation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.school-competence-container {
  width: 85%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 70px;
}

.school-competence-container .card {
  width: 280px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  transform-style: preserve-3d;
  --rotate-y: 0deg;
  perspective: 1000px;
  perspective-origin: top;
  position: relative;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  transform: rotateY(var(--rotate-y));
  transition: scale 0.8s, transform 0.3s,
    background-color var(--general-transition-switch-mode);
}

.card:hover {
  scale: 1.02;
  transition: scale 0.8s, transform 0.2s;
}

.card .title-card {
  font-size: 34px;
  margin: 0;
  margin-top: 17px;
}

.school-competence-container .card.clicked {
  --rotate-y: 180deg;
}

.school-competence-container .card.clicked .card-front {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.card .card-back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.card .card-top-container {
  width: 100%;
  height: 120px;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  --size-circle: 100px;
  --size-circle-border: 50%;
}

.card .card-top-container > div {
  width: var(--size-circle);
  height: var(--size-circle);
  border-radius: var(--size-circle-border);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card
  .card-front
  .linear-gradient-circle-container
  .linear-gradient-circle
  img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.card .card-description {
  margin: 15px 25px;
  text-align: justify;
  font-size: 20px;
}

.card .card-back .card-top-container img {
  width: var(--size-circle);
  height: var(--size-circle);
  border-radius: var(--size-circle-border);
  object-fit: cover;
}

.card .card-back-title {
  margin: 0;
  margin-top: 20px;
  font-style: italic;
}

.card .card-front .card-bottom-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 30px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card .card-front .card-bottom-container .card-bottom {
  position: absolute;
  bottom: -95px;
  width: 140%;
  height: 40%;
  border-radius: 0 0 30px 30px;
  opacity: 0.4;
  rotate: 25deg;
}
