body {

    @media (max-width: 768px) {
        
        // Eviter le scroll non voulu sur téléphone quand le menu est ouvert

        &.full-menu-active {
            overflow: hidden !important;
            overflow-x: hidden !important;
            overflow-y: hidden !important;
            // Pas sur de ça
            //height: 100vh !important;
            //width: 100vw !important;
        }
        
        #personalsite {
            height: 60%;
        }

        .media-theme-form {
            width: fit-content;
            height: 100%;
            margin-right: 3.2vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & > button {
                width: 35px;
                height: 100%;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
        }

        .mediasites {
            display : block;
            width: 30px;
            height: 30px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .header-media-menu {
            &.active {
                width: 100vw;
            }
        }

        @media screen and (max-width: 425px) {
            // .mediamenu > a:first-child{
            //     display: none;
            // }

            .mediamenu > form:last-child{
                margin-right: 0;
            }

            .mediamenu {
                column-gap: 10px;
                width: 100%;
                justify-content: space-evenly;
                padding-inline-start: 0;
            }
        }
    }
}