body:not(.index) {
    $black-bar-width: 85%;

    .view:not(.blackbar, .framecv-bar) {
        -webkit-animation: fadeIn 0.5s;
        animation: fadeIn 0.5s;
    }
    
    @keyframes fadeIn {
        0% {
            opacity: 0;
            scale: 0.9;
        }
    
        100% {
            opacity: 1;
        }
    }
    
    #container-cv.view .blackbar{
        -webkit-animation: growBar 0.5s forwards;
        animation: growBar 0.5s forwards;
    }
    
    #container-cv.hide .blackbar{
        width: 0;
    }
    
    $initial-bar-width-before-animation: calc($black-bar-width - 50%);
    
    #container-cv-text-bar.view .framecv-bar{
        -webkit-animation: growCvBar 0.5s;
        animation: growCvBar 0.5s;
    }
    
    #container-cv-text-bar.hide .framecv-bar{
        width: $initial-bar-width-before-animation;
    }
    
    @keyframes growBar {
        0% {
            width: 0;
        }
    
        100% {
            width: $black-bar-width;
        }
    }
    
/*     @keyframes growCvBar {
        0% {
            width: $initial-bar-width-before-animation;
        }
        100% {
            width: $cv-bar-width;
        }
    } */
    
    @keyframes fadeInNoScale {
        0% {
            opacity: 0.15;
            scale: 0.9;
        }
    
        100% {
            opacity: 1;
        }
    }
}