$general-transition-switch-mode: 0.2s;

html {
  scroll-behavior: smooth;
}

body:not(.index) {

  overflow-y: auto;

  & {
      background: linear-gradient(to left, blanchedalmond, #f0f0f0);
      padding:0;
      margin:0;
  }

  /* Personnalisation du titre de page*/
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto;
  }

  * {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  h1 {
      text-align: center;
  }

  h3 {
      text-align: center;
  }

  li {
      list-style: none;
  }

  label{
      margin-bottom: 10px;
  }

  .title p {
    color: rgb(86 86 86 / 88%);
  }

  a:link { color: initial }          /* Liens non visités */
  a:visited { color: initial }     /* Liens visités */
  a:active { color: initial }       /*Liens actifs */

  /* Couleur de la selection */

  $selection-color: white;
  $selection-background-color: #e5c1a4;
  $selection-color-dark: rgb(141, 152, 251);
  $selection-background-color-dark: #ffffff;

  & *::-moz-selection {
    color: $selection-color;
    background-color: $selection-background-color;
  }

  & *::selection {
    color: $selection-color;
    background-color: $selection-background-color;
  }

  &#dark * {
    color: white;
  }

  &#dark {
    background : rgb(46 45 45);
  }

  &#dark *::-moz-selection {
    color: $selection-color-dark;
    background-color: $selection-background-color-dark;
  }

  &#dark *::selection {
    color: $selection-color-dark;
    background-color: $selection-background-color-dark;
  }

  &#dark .title p {
    color : rgb(228 209 209 / 88%) !important;
  }

  img.onloading {
    background-color: #e5c1a4;
    transition: background-color 0.1s ease-in-out, opacity 0.1s ease-in-out;
    animation: loading 0.5s infinite;
  }
  &#dark {
    img.onloading {
      background-color: #ffffff;
    }
  }
  @keyframes loading {
    0% {
      opacity: 0.4;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.4;
    }
  }
}