body:not(.index){
    /* Disposition du loader */
    #loader{
        top: -6px;
        left : -6px;
        position: fixed;
        width: calc(100vw + 6px);
        height: calc(100vh + 6px);
        z-index: 2;
    }
    
    #startbackground{
        background-color: rgb(249, 238, 212);
        top: 0;
        left: 0;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 3;
    }
}