body {
    .logo {

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        background-image: url(../../img/favicon/favicon-light-theme.png);

        &.black {
            background-image: url(../../img/favicon/favicon-black.png);
        }

        &.white {
            background-image: url(../../img/favicon/favicon-dark-theme.png);
        }

        &.theme {
            background-image: url(../../img/favicon/favicon-light-theme.png);
        }
    }

    &#dark {
        .logo {
            &.theme {
                background-image: url(../../img/favicon/favicon-dark-theme.png);
            }
        }
    }
}