/* Browser : Firefox, Chrome */

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(230, 230, 230);
}

body::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: rgb(219, 151, 151);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(219, 179, 151);
}

/* Browser : Safari, Edge, Opera */

body {
    scrollbar-color: rgb(219, 151, 151) rgb(230, 230, 230);
    scrollbar-width: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}












