body.body-dark footer {
    background-color: rgb(0 0 0 / 90%);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

body.body-dark #footer1>.point-footer-container>.point-footer {
    color: rgb(255, 255, 255) !important;
}


body.body-dark #footergithubimg {
    background-image: url(../../img/footer/github-white.png);
}

body.body-dark #footerlinkedinimg {
    background-image: url(../../img/footer/linkedin-white.png);
}

body.body-dark #footermailimg {
    background-image: url(../../img/footer/mail-white.png);
}

body.body-dark #footerphoneimg {
    background-image: url(../../img/footer/phone-white.png);
}