body.body-dark *:not(.required, textarea, input) {
    color: white !important;
}

body.body-dark .formulaire {
    background-color : rgb(0 0 0 / 80%);
    box-shadow : 0 0 23px rgb(255 255 255 / 20%);
}

body.body-dark .input-container > input {
    background-color : rgba(71, 67, 67, 0.8) !important;
}

body.body-dark .input-container > input:hover {
    background-color : rgba(42, 40, 40, 0.8) !important;
}

body.body-dark #pres {
    background-color: rgba(24, 23, 23, 0.8) !important;
    box-shadow : 0 0 23px rgb(255 255 255 / 20%) !important;
}

body.body-dark input[type=email], body.body-dark input[type=text], body.body-dark textarea {
    color: rgb(0, 0, 0) !important;
}

body.body-dark input[type=email]:focus, body.body-dark input[type=text]:focus, body.body-dark textarea:focus {
    box-shadow: 0 0 0 4px rgb(82, 81, 81) !important;
}

body.body-dark input[type=text]::placeholder, body.body-dark input[type=email]::placeholder, body.body-dark textarea::placeholder {
    color: black !important;
}

body.body-dark .spinner > div {
    background-color: rgb(255, 255, 255) !important;
}