body.contact#dark {
    *:not(.required, textarea, input) {
        color: white !important;
    }
    
    .formulaire {
        background-color : rgb(0 0 0 / 80%);
        box-shadow : 0 0 23px rgb(255 255 255 / 20%);
    }
    
    .buttons-container {
        & > input {
            background-color : rgb(173 159 159 / 80%) !important;

            &:hover {
                background-color : rgba(149, 121, 121, 0.8) !important;
            }
        }
    }
    
    #pres {
        background-color: rgb(172 163 163 / 80%);
        box-shadow : 0 0 23px rgb(255 255 255 / 20%) !important;
    }
    
    input, textarea {
        color: rgb(255, 255, 255) !important;

        &:focus {
            animation: appearShadowDark 0.2s forwards;
      
            $darkBoxShadowColor: rgb(235, 223, 229);
            @keyframes appearShadowDark {
              from {
                box-shadow: 0 0 0 0 $darkBoxShadowColor;
              }
              to {
                box-shadow: 0 0 0 2.5px $darkBoxShadowColor;
              }
            }
        }

        &::placeholder {
            color: rgb(177, 177, 177) !important;
        }
    }

    .spinner > div {
        background-color: rgb(255, 255, 255) !important;
    }

    .required {
        color : #f37b7b !important;
    }
}
