@import '../vars.scss';

body#dark #mainLoaderContainer {
    * {
        color: white !important;
    }
    
    #background {
        background-color: $start-background-color-dark;
    }
    
    #mainContainer {
        background-color: $loader-background-color-dark;
        box-shadow: $loader-box-shadow-dark;
    }
}