body#dark #loaderContainer {
    * {
        color: white !important;
    }
    
    #background {
        background-color: #000000 !important;
    }
    
    #container {
        background-color: rgb(24, 23, 23) !important;
        box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.3) !important;
    }
}